



.galeria h2{
    margin-top: 6rem;   
}

.galeria-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.galeria-container .galeria-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color);
    overflow: hidden;
    display: flex;
}

.galeria-box img{
    width: 100%;
    height: 30rem;
    transition: .5s ease-in-out;
}

.galeria-box:hover img{
    transform: scale(1.1);
}

@media (max-width: 700px){
    .galeria-box img{
        height: 20rem;
    }
}

@media (max-width: 530px){
    .galeria-box img{
        height: 15rem;
    }
}