
.galeria{
    margin-top: -415px;
}

.galeria h2{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 100px;
}


.galeria .gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

}
.galeria .gallery-container .box{
    text-align: center;
    padding: 5rem;
    border:3px solid var(--main-color);
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.galeria .gallery-container .box img{
    height: 30rem;
    border-radius: 4px;
}

.seringa{
    position: relative;
    right: 10%;
}

