.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-img img{
    width: 20vw;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

span{
    color: var(--main-color);
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}