.about{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;   
}

.about-img img{
    border-radius: 4px;
    max-width: 95%;    
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

span{
    color: var(--main-color);
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    justify-content: center;
    text-align: justify;
}